.scores {
	width: 6rem;
	font-size: 2rem;
	padding: 20px;
}

.dealer-value {
	text-align: left;
	color: #73ebca;
}

.player-value {
	color: #f16c5a;
	text-align: right;
}

.score-divider {
	transform: rotate(-30deg);
	margin: 0 0.6rem;
	color: #868686;
}
