.cards-container {
	display: flex;
}

.card-container {
	position: relative;
	display: flex;
	justify-content: center;
}

.card-container__image {
	display: block;
	width: 80%;
	height: auto;
	box-shadow: 5px 5px 10px 2px black;
	border-radius: 15px;
}

.score-container {
	position: absolute;
	z-index: 100;
}

.general-overlay {
	position: absolute;
	top: 0px;
	bottom: 0;
	height: auto;
	width: 75%;
	opacity: 1;
	transition: 0.5s ease;
	border-radius: 0.7rem;
	display: flex;
	text-align: center;
}
