.player-score-container {
	position: absolute;
	top: 0.4rem;
	right: 0.6rem;
	text-align: right;
}

.player-overlay {
	position: absolute;
	top: 0px;
	bottom: 0;
	/* left: 0.75rem;
	right: 0.75rem; */
	height: auto;
	width: 75%;
	opacity: 1;
	transition: 0.5s ease;
	background-color: #73ebcb63;
	border: 6px solid #f16c5a;
	border-radius: 0.7rem;
	display: flex;
	text-align: center;
}

.action-btn {
	height: 2.8rem;
	position: absolute;
	bottom: 0;
	width: 64%;
	border: none;
	color: #f2f5f7;
	font-size: 1rem;
	cursor: pointer;
	font-family: inherit;
	display: flex;
	align-items: flex-end;
	user-select: none;
}

.stand-btn {
	right: 0;
	justify-content: flex-end;
	padding-right: 0.6rem;
	padding-bottom: 0.4rem;
	background-color: #f16c5a;

	clip-path: polygon(100% 0, 0 100%, 100% 100%);
}

.hit-btn {
	left: 0;
	justify-content: flex-start;
	padding-left: 0.6rem;
	padding-bottom: 0.4rem;
	background-color: #73ebca;

	clip-path: polygon(0 10%, 0 100%, 100% 100%);
}
