.App {
	text-align: center;
	text-align: center;
	color: #f2f5f7;
	font-size: 1rem;
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.scores {
	width: 6rem;
}

.dealer-value {
	text-align: left;
}

.player-value {
	text-align: right;
}

.score-divider {
	transform: rotate(-30deg);
	margin: 0 0.6rem;
	color: #868686;
}
